<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Check Out Your Maps!</title>
  </head>
  <body>
  <div class="map-index-page">
  <% @maps.each do |map| %>
    <div class="map-body">
      <span id='map-title'><%= map.title %></span>
      <img src='https://maps.googleapis.com/maps/api/staticmap?center=<%= map.center["lat"] %>,<%= map.center["lng"] %>&zoom=13&size=600x300&maptype=roadmap&key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>'>
      <div id='index-links'>
      <%= link_to 'View', map %>
      <%= link_to 'Edit', edit_map_path(map) %>
      <%= link_to 'Delete', map, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
    <% end %>
    <br>
  </div>
  </body>
</html>
