<!DOCTYPE html>
<html>
  <head>
    <title>Mapper</title>

    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places"
  ></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', defer: 'defer' %>

    <%= javascript_pack_tag 'application' %>
    <%# stylesheet_pack_tag 'application' %>

  </head>

  <body>
    <p class='user-logged-in'>
      <% if user_signed_in? %>
      <!-- Logged in as <br> <span><%= current_user.email %></span>. -->
      <div class='navbar-text'>
        <%= link_to "Home", root_path %>
        <%=link_to "Create a Map", new_map_path %>
        <%= link_to "Explore Your Maps", maps_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    </div>
    <% else %>
      <%= link_to "Home", root_path, :class => 'navbar-link' %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
</p>
    <%= yield %>
  </body>
</html>
